.top_menu {
  top: 0;
  overflow: hidden;
  z-index: 2;
  font-size: 17px;
  padding: 0;
  letter-spacing: 1px;
  font-family: "Segoe UI",Arial,sans-serif;
}

.top{
  background-color: #ffffff;

  padding-top: 20px;
  padding-left: 20px;
  line-height: 50px;
  overflow: hidden;
  z-index: 2;
}

/***************************** NAV ************************************/

header ul{
	list-style-type: none;
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #333;
}

.left {
  float: left;
}

.right {
  float: right;
}

header li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.user {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

header li a:hover {
    background-color: #a7ed1c;
}

header a.nerf:hover {
  background-color: #A0A0A0;
}

nav .current {
  background-color: #ffbf00;
}

/***************************** BODY ************************************/

body{
  background-color: #FFFFFF;
  margin: 0 auto;
  font-family: 'Alef';font-size: 15px;
}


input.button{
  clear: left;
  cursor: pointer;
  border: none;
  font-weight: bold;
  background-color: #ffbf00;
  color: #ffffff;
  padding: 2%;
  margin: 3%;
}

input.button:hover{
  background-color: #FF5733;
  cursor: pointer;
}

input.buttonP{
  clear: left;
  cursor: pointer;
  border: none;
  font-weight: bold;
  background-color: #ffbf00;
  color: #ffffff;
  padding: 1%;
  margin: 2%;
}

input.buttonP:hover{
  background-color: #FF5733;
  cursor: pointer;
}

.hid {
  display : none;
}

div.okey{
  background-color: #A0CF00;
  color: #FFFFFF;
  font-weight: bold;
  padding: 1%;
}

div.error{
  background-color: #f44336;
  color: #FFFFFF;
  font-weight: bold;
  padding: 1%;
}

table {
  table-layout: fixed;
}

.center{
  text-align: center;
  padding-left: 30px;
}
h4{
  font-weight: bold !important;
}

.wid{
  width:230px;
}

.widMargin{
  margin-left:230px;
}
