.top_menu {
  top: 0;
  overflow: hidden;
  z-index: 2;
  font-size: 17px;
  padding: 0;
  letter-spacing: 1px;
  font-family: "Segoe UI",Arial,sans-serif;
}

.top{
  background-color: #ffffff;

  padding-top: 20px;
  padding-left: 20px;
  line-height: 50px;
  overflow: hidden;
  z-index: 2;
}

/***************************** NAV ************************************/

header ul{
	list-style-type: none;
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #333;
}

.left {
  float: left;
}

.right {
  float: right;
}

header li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.user {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

header li a:hover {
    background-color: #8fb339;
}

nav .current {
  background-color: #ffbf00;
}

/***************************** BODY ************************************/
a {
  text-decoration: none;
}
body{
  background-color: #FFFFFF;
  margin: 0 auto;
  font-family: 'Alef';font-size: 15px;
}

div.peliculaInicio {
  float: left;
  overflow: hidden;
  text-align: center;
  padding: 3%;
}

div.filtro {
  overflow: hidden;
}
.left {
  float: left;
  overflow: hidden;
}
.clear{
  clear: both;
}

.descripcion {
  width: 30%;
  margin-left: 2.5%;
}
div.opciones {
  float: left;
  margin-right: 2%;
  overflow: hidden;
}

div.cont{
  margin-left: 3%;
  margin-top: 2%;
}
img.cartel {
  width: 250px;
  height: auto;
}
.margenTop {
  margin-top: 30px;
}
img.cartelGrande {
  width: 250px;
  height: auto;
}

img.cartelPequenio{
  border: 1px solid black;
  width: 100px;
  height: auto;
}

ul.comentarios {
  list-style-type: none;
}

.comentario {
  padding-top: 10px;
}

.margen {
  margin-left: 15px;
}
.reserva {
  text-align: center;
}

.bold {
  font-weight: bold;
}

textarea {
  border: 3px solid #14213d;
  border-radius: 4px;
  background-color: #e5e5e5;
}

input[type="text"] {
  border: 3px solid #14213d;
  border-radius: 4px;
  background-color: #e5e5e5;
}

input[type="submit"]{
  background-color: #fca311;
  color: white;
  cursor: pointer;
  border: none;
  padding: 1%;
  font-weight: bold;
}

/********************************* SALAS *********************************/

.celda {
	float: left;
	height: 0;
	border: 1px solid black;
	margin: 0.2%;
  padding: 2em;
	background-color: #FFFFFF;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	line-height: 190%;
  cursor: pointer;
  overflow: hidden;
  display: table-cell;

}

.celda:hover{
	background-color: #fca311;
}

.celdaPasillo {
	float: left;
	height: 0;
	border: none;
	margin: 0.2%;
  padding: 2em;
	background-color: #e5e5e5;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	line-height: 190%;
}

.celdaOcupada {
  float: left;
	height: 0;
	border: 1px solid black;
	margin: 0.2%;
  padding: 2em;
	background-color: #d62828;
	text-align: left;
	vertical-align: middle;
	line-height: 190%;
}

.celdaSeleccionada {
  float: left;
	height: 0;
	border: 1px solid black;
	margin: 0.2%;
  padding: 2em;
	background-color: #0000FF;
	text-align: left;
	vertical-align: middle;
	line-height: 190%;
}

.fila {
	clear: left;
}

.reservar {
  background-color: #fca311;
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 1.8%;
  font-weight: bold;
  font-size: 20px;
}

.reservar:hover{
  background-color: #8fb339;
}
.colapsar {
  background-color: #14213d;
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 1.8%;
  font-weight: bold;
}

.colapsar:hover{
  background-color: #000000;
}

.contenidoSala {
    padding: 0 18px;
    text-align: center;
    overflow: hidden;
    background-color: #e5e5e5;

}

.tituloStyle{
  color: #14213d;
  font-weight: bold;
  font-style: italic;
}

.entrada {
  padding: 1%;
  border-left: 6px solid #8fb339;
  background-color: #c7d59f;
  width: 60%;
  margin-top: 15px;
  overflow: hidden;
}
