.top_menu {
  top: 0;
  overflow: hidden;
  z-index: 2;
  font-size: 17px;
  padding: 0;
  letter-spacing: 1px;
  font-family: "Segoe UI",Arial,sans-serif;
}

.top{
  background-color: #ffffff;

  padding-top: 20px;
  padding-left: 20px;
  line-height: 50px;
  overflow: hidden;
  z-index: 2;
}

/***************************** NAV ************************************/

header ul{
	list-style-type: none;
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #333;
}

.left {
  float: left;
}

.right {
  float: right;
}

header li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.user {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

header li a:hover {
    background-color: #a7ed1c;
}

nav .current {
  background-color: #ffbf00;
}

/***************************** BODY ************************************/

body{
  background-color: #FFFFFF;
  margin: 0 auto;
  font-family: 'Alef';font-size: 15px;
}

img.cartel {
  width: 150px;
  height: auto;
}
