{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">

    <title>Cine</title>

    {% block scripts %}

    	<link rel="stylesheet" href="{% static "cine/css/mainStyle.css" %}" />
    	<link rel="stylesheet" href="{% static "cine/css/fonAwesome.css" %}">
      <link rel="stylesheet" href="{% static "cine/css/w3.css" %}">
    	<link rel='stylesheet' href="{% static "cine/css/w3.css" %}" >

      <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
      <script src="{% static "cine/js/cineScript.js" %}"></script>
    {% endblock %}

  </head>
  <body>
    <!-- Cabecera de la pagina -->
    <header>
      <nav>
    		<div class="sticky top_menu">
    			<div class="top">
    				<img src="{% static "cine/images/logo.png"%}" alt="logo"/>
    			</div>
    			<ul>
    				<li class="left"><a class="" href="{% url 'cine:index'%}">Home</a></li>
    				<li class="left"><a class="" href="{% url 'cine:reservas'%}">Reservas</a></li>
    			</ul>
    		</div>

    	</nav>
    </header>
    {% block contenido %}
    {% endblock %}
  </body>
</html>
