{% extends "./base.html"%}

{% block contenido %}

  <h1>Peliculas<h1>
    {% if peliculas%}
      <select onchange="" class="navPeliculas" name="Genero">
        <option value="" disabled selected>Filtrar género</option>
        {% for genero in generos %}
          <option value="{{ genero }}">{{ genero }}</option>
        {% endfor %}
      </select>
      <form class="navPeliculas" action="index.html" method="post">
        <input type="text" name="buscar" placeholder="Buscar pelicula...">
        <button type="submit"> <i class="fa fa-search"></i> </button>
      </form>
      <ul>
        {% for pelicula in peliculas %}
          <li>
            {% include "./pelicula.html"%}
          </li>
        {% endfor %}
      </ul>
      <div id="overlay" onclick="quitarOverlay()">

      </div>
    {% endif %}


{% endblock %}
