{% extends "./base.html"%}

{% block contenido %}

{% if peliculas%}
  <!--
  Select con las peliculas
  <select onchange="" class="selectPelicula" name="peliculas">
    <option value="" disabled selected>Seleccina pelicula</option>
    {% for pelicula in peliculas %}
    <option value="{{ pelicula.id }}">{{ pelicula.titulo }}</option>
    {% endfor %}
  </select>
  Select con las sesiones cargadas dinamicamente
  <select onchange="" class="selectSesion" name="sesion">
    <option value="" disabled selected>Seleccina sesion</option>
  </select>
-->
  <!-- Indicador con la sala de esa sesion -->
  <div class="reservas">


  <form class="navPeliculas" action="resumen" method="post">
    {% csrf_token %}
    <button type="submit" class="reservar" name="reservar">Reservar asientos</button>
    <div class="visualizaciones">
      {% for visualizacion in visualizaciones %}
        <div class="visualizacion">

          <button class="noRef colapsar" onclick="cargarSala({{ visualizacion.sala.filas }},
          {{ visualizacion.sala.asientosPorFila }},
          {{ visualizacion.sala.asientosUltimaFila }},
          {{ visualizacion.id }})"> Película: {{ visualizacion.pelicula.titulo }} || Sala: {{ visualizacion.sala.id }} || Hora : {{ visualizacion.hora }}</button>

          <div class="vis{{ visualizacion.id }}Sala contenidoSala">
          </div>
        </div>
      {% endfor %}
    </div>
  </form>
</div>

{% endif %}

{% endblock %}
